<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">Angular Vote App</a>
</nav>

<div class="container mt-3 pt-4">
  <div class="row">
      <div class="col-md-5 text-center">
        <div class="card">
          <h3 class="card-header" >Agrega un enlace JOJO</h3>
          <form action="" class="card-body">
            <label for="title">Titulo:</label>
            <input type="text" name="title" #titulo class="form-control" autofocus>
  
            <label for="link" class="mt-4">Enlace:</label>
            <input type="url" name="link" #enlace class="form-control">
  
            <button class="btn btn-dark mt-4 btn-block" (click)="addLink(titulo, enlace)" matTooltip="Info about the action" >Enviar enlace</button>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <app-enlace *ngFor="let enlace of enlaces" [enlace]="enlace"></app-enlace>
      </div>
  </div>
</div>


<!--
<div class="container p-4">
  <div class="row py-4">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h3 class="card-header" >Agrega un enlace</h3>
        <form action="" class="card-body">
          <label for="title">Titulo:</label>
          <input type="text" name="title" #titulo class="form-control" autofocus>

          <label for="link" class="mt-4">Enlace:</label>
          <input type="url" name="link" #enlace class="form-control">

          <button class="btn btn-dark mt-4 btn-block" (click)="addLink(titulo, enlace)" >Enviar enlace</button>
        </form>
      </div>
    </div>
  </div>

  <app-enlace *ngFor="let enlace of enlaces" [enlace]="enlace"></app-enlace>

</div>
-->